 @import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

body {
 
  background-color: rgba(53, 51, 51, 0.795);
  color: #ef7998;
}

.banner-title {
  color: #ef7998;
  font-size: 4rem;
  font-family: 'Kaushan Script';
}
.btn-padding{
  padding: 20px;
  margin: 25px;
}
.btn{ 
  border: 1px solid ; 
  padding: 10px;
  

}
.btn-pink {
  color:#ef7998 !important;
  border-color: #ef7998 !important;
}
.btn-black {
  color: #000 !important;
  border-color: #000 !important;
}
.btn-black:hover {
  color: #ef7998 !important;
  background: #000!important;
}
.btn-pink:hover {
  background: #ef7998 !important;
  color: #000 !important;
}
.s-box{
  margin-bottom: 25px;
}

.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 3px solid #46347D ;
}

 .img-container:hover .store-img {
  transform: scale(1.2);

} 
 
 .store-item-value,#store-item-name {
  color: #F95926 ;
} 

.search-box {
  background: #ef7998;
  color:#000;
}
.card-body{
  border: 3px solid #F95926 ;
  background-color: antiquewhite;
}
